<html>
    <head>
        <title>Anna's Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">A day with Django Girls</a></h1>
        </div>

        <div>
            <p>published: 07.10.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum.</p>
        </div>

        <div>
            <p>published: 14.10.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum.</p>
        </div>
    </body>
</html>